.vs/Battle Cats save editor/v16
/Battle Cats save editor/Battle Cats save editor/obj/Debug
Battle Cats save editor/.vs/Battle Cats save editor/v16/.suo
.vscode/launch.json
/Battle Cats save editor/Battle Cats save editor/Battle Cats save editor.csproj.user
/Updater/Updater/obj/Debug
/Battle Cats save editor/Battle Cats save editor/editor.exe
/Battle Cats save editor/Battle Cats save editor/test/bin/Debug/net5.0
/Battle Cats save editor/Battle Cats save editor/test/obj
/Battle Cats save editor/Battle Cats save editor/test/.vs/test
/Battle Cats save editor/Battle Cats save editor/test
/Battle Cats save editor/sda.txt
/Battle Cats save editor/packages/Newtonsoft.Json.13.0.1
/Battle Cats save editor/Battle Cats save editor/packages.config
/Battle Cats save editor/.vs/Battle Cats save editor/v17/.suo
/Battle Cats save editor/.vs/Battle Cats save editor/project-colors.json
/Updater/.vs/Updater/v17/.suo
/Battle Cats save editor/Battle Cats save editor/bin/Release
/Battle Cats save editor/Battle Cats save editor/obj/Release
/Battle Cats save editor/packages/Costura.Fody.5.7.0
/Battle Cats save editor/packages
